include ../components/_head
include ../components/variables/070818

section#Hero070818.show-block.story.m-t_5
	a.show-block.story.z-text-align-right(href=Hero070818_URL, data-ta-intcmp='1', data-ta-intcmp-loc='HP_PR01_1x0_P01', data-ta-intcmp-id=Hero070818_ID)
		picture
			source(srcset=Hero070818_IMG_sm, media='(max-width: 768px)')
			source(srcset=Hero070818_IMG_lg, media='(min-width: 1920px)')
			img.img-fluid(src=Hero070818_IMG_d, alt=Hero070818_IMG_Alt)

section#SummerEssentials070818.story

section#FootwearBTS070818.mxw-1280.story.m-t1
	a.show-block.story.z-text-align-right(href=FootwearBTS070818_URL, data-ta-intcmp='1', data-ta-intcmp-loc='HP_PR01_1x0_P01', data-ta-intcmp-id=FootwearBTS070818_ID)
		picture 
			source(srcset=FootwearBTS070818_IMG_sm, media='(max-width: 768px)')
			source(srcset=FootwearBTS070818_IMG_lg, media='(min-width: 1920px)')
			img.img-fluid(src=FootwearBTS070818_IMG_d, alt=FootwearBTS070818_IMG_Alt)

h3.t-cond.t-1em.z-text-align-center.heading__divider.m-b_5.m-t_5.p-t_5.p-b_5
	span(style='font-size:1.5em;') xxx
	
section#BackyardFun070818.mxw-1280.m-lauto.m-rauto.story.m-t1
	.flex.stack.unstack-768
		#Trampolines070818.story.flex.grow.stack.m-_5
			a.show-block.story(href=Trampolines070818_URL, data-ta-intcmp='1', data-ta-intcmp-loc='HP_PR03_2x0_P01', data-ta-intcmp-id=Trampolines070818_ID)
				picture
					img.img-fluid(src=Trampolines070818_IMG, alt=Trampolines070818_IMG_alt)
		#BcgBTS_070818.story.flex.grow.stack.m-_5
			a.show-block.story(href=BcgBTS_070818_URL, data-ta-intcmp='1', data-ta-intcmp-loc='HP_PR03_2x0_P02', data-ta-intcmp-id=BcgBTS_070818_ID)
				picture
					img.img-fluid(src=BcgBTS_070818_IMG, alt=BcgBTS_070818_IMG_alt)
		#BcgBTS_070818.story.flex.grow.stack.m-_5
			a.show-block.story(href=BcgBTS_070818_URL, data-ta-intcmp='1', data-ta-intcmp-loc='HP_PR03_2x0_P02', data-ta-intcmp-id=BcgBTS_070818_ID)
				picture
					img.img-fluid(src=BcgBTS_070818_IMG, alt=BcgBTS_070818_IMG_alt)

section.mxw-1280.m-lauto.m-rauto
	.story.show-block.m-r_5.m-l_5
		.flex.stack.unstack-768
			#Uniforms070818.story.flex.grow.stack.m-_5
				a.show-block.story(href=Uniforms070818_URL, data-ta-intcmp='1', data-ta-intcmp-loc='HP_PR03_2x0_P01', data-ta-intcmp-id=Uniforms070818_ID)
					picture
						img.img-fluid(src=Uniforms070818_IMG, alt=Uniforms070818_IMG_alt)
			#BcgBTS_070818.story.flex.grow.stack.m-_5
				a.show-block.story(href=BcgBTS_070818_URL, data-ta-intcmp='1', data-ta-intcmp-loc='HP_PR03_2x0_P02', data-ta-intcmp-id=BcgBTS_070818_ID)
					picture
						img.img-fluid(src=BcgBTS_070818_IMG, alt=BcgBTS_070818_IMG_alt)

section#FootballEquipment070818.mxw-1280.story.m-t1
	a.show-block.story.z-text-align-right(href=FootballEquipment070818_URL, data-ta-intcmp='1', data-ta-intcmp-loc='HP_PR03_1x0_P01', data-ta-intcmp-id=FootballEquipment070818_ID)
		picture
			source(srcset=FootballEquipment070818_IMG_sm, media='(max-width: 768px)')
			source(srcset=FootballEquipment070818_IMG_lg, media='(min-width: 1920px)')
			img.img-fluid(src=FootballEquipment070818_IMG_d, alt=FootballEquipment070818_IMG_Alt)

section.mxw-1280.m-lauto.m-rauto
	.story.show-block.m-r_5.m-l_5
		.flex.stack.unstack-768
			#Tailgating070818.story.flex.grow.stack.m-_5
				a.show-block.story(href=Tailgating070818_URL, data-ta-intcmp='1', data-ta-intcmp-loc='HP_PR04_2x0_P01', data-ta-intcmp-id=Tailgating070818_ID)
					picture
						img.img-fluid(src=Tailgating070818_IMG, alt=Tailgating070818_IMG_alt)
			#Swimwear070818.story.flex.grow.stack.m-_5
				a.show-block.story(href=Swimwear070818_URL, data-ta-intcmp='1', data-ta-intcmp-loc='HP_PR04_2x0_P02', data-ta-intcmp-id=Swimwear070818_ID)
					picture
						img.img-fluid(src=Swimwear070818_IMG, alt=Swimwear070818_IMG_alt)

section#PoolEssentials070818.story

section#shooting-sports.story
	a.p-t2.p-r1.p-b2.p-l1.show-block.story.z-text-align-center(href=Shoot070818_URL, data-ta-intcmp='1', data-ta-intcmp-loc='HP_PR04_2x0_P02', data-ta-intcmp-id=Shoot070818_ID)
		h3.heading__up-to.t-white
			span.t-cond(style='font-size:1.5em;') xxxx
			span.t-ultra.show-768(style='font-size:3em;') xxx
			span.t-ultra.hide-768(style='font-size:3em;') xxx
			span.t-ultra.hide-768(style='font-size:3em;') xxx
			span.t-cond(style='font-size:1.5em;')
		span.m-t1.t-cond.z-btn.z-btn-ghost-white(style='width:100%; max-width:18em;') shop all

include ../components/_footer.pug
